In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [10]:
df=pd.read_csv('asteroid.csv')

C:\Users\adars\AppData\Local\Temp\ipykernel_22452\972993778.py:1: DtypeWarning: Columns (11,14,15,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('asteroid.csv')

In [4]:
df.head(10)

,full_name,a,e,G,i,om,w,q,ad,per_y,...,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo,pha,moid
0,1 Ceres,2.769165,0.076009,0.12,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,...,9.074170,62.6284,0.713,0.426,NaN,C,G,N,N,1.594780
1,2 Pallas,2.772466,0.230337,0.11,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,...,7.813200,14.3000,0.635,0.284,NaN,B,B,N,N,1.233240
2,3 Juno,2.669150,0.256942,0.32,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,...,7.210000,NaN,0.824,0.433,NaN,Sk,S,N,N,1.034540
3,4 Vesta,2.361418,0.088721,0.32,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,...,5.342128,17.8000,0.782,0.492,NaN,V,V,N,N,1.139480
4,5 Astraea,2.574249,0.191095,NaN,5.366988,141.576604,358.687608,2.082324,3.066174,4.130323,...,16.806000,NaN,0.826,0.411,NaN,S,S,N,N,1.095890
5,6 Hebe,2.425160,0.203007,0.24,14.737901,138.640203,239.807490,1.932835,2.917485,3.776755,...,7.274500,NaN,0.822,0.399,NaN,S,S,N,N,0.973965
6,7 Iris,2.385334,0.231206,NaN,5.523651,259.563231,145.265106,1.833831,2.936837,3.684105,...,7.139000,NaN,0.855,0.484,NaN,S,S,N,N,0.846100
7,8 Flora,2.201764,0.156499,0.28,5.886955,110.889330,285.287462,1.857190,2.546339,3.267115,...,12.865000,NaN,0.885,0.489,NaN,NaN,S,N,N,0.874176
8,9 Metis,2.385637,0.123114,0.17,5.576816,68.908577,6.417369,2.091931,2.679342,3.684806,...,5.079000,NaN,0.858,0.496,NaN,NaN,S,N,N,1.106910
9,10 Hygiea,3.141539,0.112461,NaN,3.831560,283.202167,312.315206,2.788240,3.494839,5.568291,...,27.630000,7.0000,0.696,0.351,NaN,C,C,N,N,1.778390

In [5]:
df.tail(10)

,full_name,a,e,G,i,om,w,q,ad,per_y,...,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo,pha,moid
839726,(4532 P-L),2.324578,0.200505,NaN,6.626798,17.773486,328.867731,1.858487,2.790669,3.544250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.855072
839727,(4717 P-L),2.953786,0.219023,NaN,4.796715,4.018721,345.966282,2.306839,3.600734,5.076645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.300570
839728,(4847 P-L),2.721596,0.238416,NaN,7.984165,14.097989,355.461791,2.072724,3.370468,4.489972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.071900
839729,(6013 P-L),2.279725,0.185817,NaN,5.976037,194.238895,195.314818,1.856114,2.703336,3.442166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.861240
839730,(6331 P-L),2.334803,0.282830,NaN,8.082044,355.250303,5.263699,1.674450,2.995156,3.567661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.670508
839731,(6344 P-L),2.812945,0.664688,NaN,4.695700,183.310012,234.618352,0.943214,4.682676,4.717914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,0.032397
839732,(1168 T-2),2.645238,0.259376,NaN,12.574937,1.620020,339.568072,1.959126,3.331350,4.302346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.956145
839733,(2060 T-2),2.373137,0.202053,NaN,0.732484,176.499082,198.026527,1.893638,2.852636,3.655884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.893896
839734,(2678 T-3),2.260404,0.258348,NaN,9.661947,204.512448,148.496988,1.676433,2.844376,3.398501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.680220
839735,(4571 T-3),2.546442,0.287672,NaN,5.356238,70.709555,273.483265,1.813901,3.278983,4.063580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,0.815280

In [11]:
df.shape

(839736, 27)

In [12]:
df.dtypes

full_name          object
a                 float64
e                 float64
G                 float64
i                 float64
om                float64
w                 float64
q                 float64
ad                float64
per_y             float64
data_arc          float64
condition_code     object
n_obs_used          int64
H                 float64
diameter           object
extent             object
albedo            float64
rot_per           float64
GM                float64
BV                float64
UB                float64
IR                float64
spec_B             object
spec_T             object
neo                object
pha                object
moid              float64
dtype: object

In [8]:
df.count()

full_name         839736
a                 839734
e                 839736
G                    119
i                 839736
om                839736
w                 839736
q                 839736
ad                839730
per_y             839735
data_arc          823947
condition_code    838743
n_obs_used        839736
H                 837042
diameter          137681
extent                18
albedo            136452
rot_per            18796
GM                    14
BV                  1021
UB                   979
IR                     1
spec_B              1666
spec_T               980
neo               839730
pha               822814
moid              822814
dtype: int64

In [9]:
df.isnull().sum()

full_name              0
a                      2
e                      0
G                 839617
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15789
condition_code       993
n_obs_used             0
H                   2694
diameter          702055
extent            839718
albedo            703284
rot_per           820940
GM                839722
BV                838715
UB                838757
IR                839735
spec_B            838070
spec_T            838756
neo                    6
pha                16922
moid               16922
dtype: int64

We don't have enough data for 'G','diameter','extent','albedo','rot_per','GM','BV','UB','IR','spec_B','spec_T'
So we can drop this data

In [13]:
df.drop('G',axis=1,inplace=True)

In [14]:
df.drop('diameter',axis=1,inplace=True)

In [15]:
df.drop('extent',axis=1,inplace=True)

In [16]:
df.drop('albedo',axis=1,inplace=True)

In [17]:
df.drop('rot_per',axis=1,inplace=True)

In [18]:
df.drop('GM',axis=1,inplace=True)

In [19]:
df.drop('BV',axis=1,inplace=True)

In [20]:
df.drop('UB',axis=1,inplace=True)

In [21]:
df.drop('IR',axis=1,inplace=True)

In [22]:
df.drop('spec_B',axis=1,inplace=True)

In [23]:
df.drop('spec_T',axis=1,inplace=True)

In [24]:
df.describe()

,a,e,i,om,w,q,ad,per_y,data_arc,n_obs_used,H,moid
count,839734.000000,839736.000000,839736.000000,839736.000000,839736.000000,839736.000000,839730.000000,839735.000000,823947.000000,839736.000000,837042.000000,8.228140e+05
mean,2.843217,0.155633,8.950009,168.501641,181.076593,2.404732,3.385707,6.859544,5660.187025,254.617708,16.786069,1.423511e+00
std,37.327031,0.093888,6.666273,103.096571,104.024110,2.233138,12.746419,252.172503,4192.420393,363.004548,1.821274,2.251048e+00
min,-32588.942986,0.000000,0.007546,0.000388,0.001666,0.070511,0.773684,0.000000,0.000000,2.000000,-1.100000,3.437640e-07
25%,2.385244,0.091453,4.069043,80.212344,91.039551,1.971939,2.775342,3.683896,3599.000000,50.000000,15.900000,9.785395e-01
50%,2.644219,0.143654,7.257311,160.296065,181.669812,2.225494,3.037745,4.299860,5792.000000,118.000000,16.800000,1.237880e+00
75%,2.996035,0.199400,12.256026,252.206645,271.523344,2.578162,3.357958,5.185951,7228.000000,292.000000,17.600000,1.590610e+00
max,3043.149073,1.201134,175.188725,359.999800,359.999833,80.424175,6081.841956,167877.712688,72684.000000,9325.000000,33.200000,7.950130e+01